<div class="shout">
  <div class="shout_user">
    <%= link_to shout.user.email, shout.user %>
  </div>
  <div class="shout_time">
    <%= time_ago_in_words(shout.created_at) %> ago
  </div>
  <p class="shout_body"><%= shout.body %></p>
</div>
