<header>
  <h1>Shouter</h1>
</header>

<% if signed_in? %>
  <%= form_for(@shout) do |form| %>
    <%= form.text_field :body, placeholder: "Shout here" %>
    <%= form.submit "Shout!" %>
  <% end %>
<% end %>

<%= render @shouts %>
